body{
  background-color: #eee;
  /*background-image: url('img/ps_neutral.png');*/

}

header {
  margin: auto;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  /*display:flex;
  flex-flow: column;*/

}
button {
  font-family: 'Russo One', Helvetica, sans-serif;
}

.highScores {
  width:50%;
  /*background-color: #333;*/
  /*display: flex;
  flex-direction: row;*/
  margin: -50px auto ;
  /*text-align: center;*/

}

h3{
  padding-top: 1.5em;
  font-size: 1.5em;
}

.round{
  display:inline-flex;
  color:#fff;
  padding: .5em;
  justify-content:flex-end;
  /*border:2px solid red;*/
  margin-top: -2em;
  background-color: #ffc8a8;
  border-radius: 10px;
}

h1 {
  font-size: 4.75em;
  text-align: center;
  line-height: .85em;
  font-family: 'Russo One', Helvetica, sans-serif;
  color: #ff8c3a;
  text-shadow: 2px 2px 8px #363636;
  margin-bottom: -.2em;
}


p {
  font-size: 1.25em;
  font-family: 'Francois One', sans-serif;
  text-align: center;
}
.level10{
  text-align: center;
}

#containerGame {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  border-radius: 20px;
  border: 10px solid #fff;
  background-color: #fff;
  box-shadow:  0 0 20px 2px rgba(100,100,100,.5);
}

.color {
  float:left;
  width: 180px;
  height: 180px;
  opacity: 0.5;
  margin: 10px;
  border-radius: 100%;
  /*border: 10px solid black;*/
  -webkit-transition: opacity 30ms ease;
	-moz-transition: opacity 30ms ease;
	-ms-transition: opacity 30ms ease;
	-o-transition: opacity 30ms ease;
	transition: opacity 30ms ease;


}

.hover:hover {
  /*opacity: .5;*/
  box-shadow:  0 0 20px #222;

}

.red {
  background-color: red;
  border-radius: 100% 0 0 0;
  /*box-shadow: 5px 5px brown;*/

}
.green {
  background-color: green;
  border-radius:  0 0 0 100%;
  /*box-shadow: 5px 5px brown;*/
}
.blue {
  background-color: blue;
  border-radius:  0 100% 0 0;
  /*box-shadow:  5px 5px brown;*/
t

}
.yellow {
  background-color: yellow;
  border-radius:  0 0 100% 0;
  /*box-shadow:  5px 5px brown;*/

}

.lightUp {
  opacity: 1 !important;
}

 #startGame {
   border: 15px solid #fff;
   position:absolute;
   z-index: 2;
   top: 125px;
   left: 125px;
   width: 150px;
   height: 150px;
   border-radius: 100px;
   font-size: 25px;
 }
 #startGame:hover{
   color:#fff;
   background-color: #aaa;
   box-shadow:  inset 0 0 15px #000;

 }
#startGame:focus{
  outline: none;
}

#keyboardInit {
  margin: 0 auto 25px auto;
  height:60px;
  width:400px;
  display:block;
  font-size: 1.25em;
  background-color: #999;
  border-radius: 5px;
  /*border: 1px solid #333;*/
}
#keyboardInit:focus{
   outline: none;
}
#keyboardInit:hover{
  background-color: #aaa;
  /*color: #fff;*/
  box-shadow: 0 0 15px #000;
}

.keyboard {
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.keyButton {
  /*text-align: center;*/
  /*float:left;*/
  position:absolute;
  font-size: 3em;
  font-family: 'Francois One', sans-serif;
  color:#000;
  opacity: .5;
  /*margin: 47px 0 0 0;*/
}
 .w {
   margin: 0 0 -80px 0;
   color: red;
}
 .e {
   margin: 0 0 0 365px;
   color: blue;
}
 .s {
   margin: 325px 0 -325px 0 ;
   color: green;
}
 .d {
   margin: 325px 0 0 365px;
   color: yellow;
}

.keyButton > p{
  margin:auto;
}
