body{
  background-color: #ccc;
  background-image: url('img/ps_neutral.png')
}

h1 {
  font-family: Helvetica;
  text-align: center;
}

p {
  font-family: Helvetica;
  font-size: 24px;
  text-align: center;

}
#container {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  border-radius: 100%;
  border: 10px solid #fff;
  background-color: #fff;
  /*box-shadow:  3px 3px 10px grey;*/

}


.color {
  float:left;
  width: 180px;
  height: 180px;
  opacity: 0.3;
  margin: 10px;
  /*border: 10px solid black;*/
  -webkit-transition: opacity 30ms ease;
	-moz-transition: opacity 30ms ease;
	-ms-transition: opacity 30ms ease;
	-o-transition: opacity 30ms ease;
	transition: opacity 30ms ease;
  /*transition: opacity 100ms ease;*/
}

.hover:hover {
  opacity: .5;

}

.red {
  background-color: red;
  border-radius: 100% 0 0 0;
  /*box-shadow: 5px 5px brown;*/

}
.green {
  background-color: green;
  border-radius:  0 0 0 100%;
  /*box-shadow: 5px 5px brown;*/
}
.blue {
  background-color: blue;
  border-radius:  0 100% 0 0;
  /*box-shadow:  5px 5px brown;*/

}
.yellow {
  background-color: yellow;
  border-radius:  0 0 100% 0;
  /*box-shadow:  5px 5px brown;*/

}

.lightUp {
  opacity: 1 !important;
}

 #startGame {
   border: 15px solid #fff;
   position:absolute;
   z-index: 2;
   top: 125px;
   left: 125px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  font-size: 25px;
 }
 #startGame:hover{
   color:white;
   background-color: #666;
 }
#startGame:focus{
  outline: none;
}
