body{
  background-color: #ccc;
  background-image: url('img/ps_neutral.png');

}

header {
  margin: auto;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  /*display:flex;
  flex-flow: column;*/

}

.highScores {
  width:50%;
  /*background-color: #333;*/
  /*display: flex;
  flex-direction: row;*/
  margin: -50px auto ;
  /*text-align: center;*/

}

h3{
  padding-top: 1.5em;
  font-size: 1.5em;
}

.round{
  display:inline-flex;
  color:#fff;
  padding: .5em;
  justify-content:flex-end;
  /*border:2px solid red;*/
  margin-top: -2em;
  background-color: #ffc8a8;
  border-radius: 1em;
}

h1 {
  font-size: 4.75em;
  text-align: center;
  line-height: .85em;
  font-family: 'Russo One', Helvetica, sans-serif;
  color: #ff8c3a;
  text-shadow: 2px 2px 8px #363636;
  margin-bottom: -.2em;
}


p {
  font-size: 1.25em;
  font-family: 'Francois One', sans-serif;
}
.level10{
  text-align: center;
}

#containerGame {
  width: 400px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  border-radius: 100%;
  border: 10px solid #fff;
  background-color: #fff;
  box-shadow:  0 0 20px 2px rgba(100,100,100,.5);
}

.color {
  float:left;
  width: 180px;
  height: 180px;
  opacity: 0.3;
  margin: 10px;
  /*border: 10px solid black;*/
  -webkit-transition: opacity 30ms ease;
	-moz-transition: opacity 30ms ease;
	-ms-transition: opacity 30ms ease;
	-o-transition: opacity 30ms ease;
	transition: opacity 30ms ease;
  /*transition: opacity 100ms ease;*/
}

.hover:hover {
  opacity: .5;

}

.red {
  background-color: red;
  border-radius: 100% 0 0 0;
  /*box-shadow: 5px 5px brown;*/

}
.green {
  background-color: green;
  border-radius:  0 0 0 100%;
  /*box-shadow: 5px 5px brown;*/
}
.blue {
  background-color: blue;
  border-radius:  0 100% 0 0;
  /*box-shadow:  5px 5px brown;*/

}
.yellow {
  background-color: yellow;
  border-radius:  0 0 100% 0;
  /*box-shadow:  5px 5px brown;*/

}

.lightUp {
  opacity: 1 !important;
}

 #startGame {
   border: 15px solid #fff;
   position:absolute;
   z-index: 2;
   top: 125px;
   left: 125px;
   width: 150px;
   height: 150px;
   border-radius: 100px;
   font-size: 25px;
 }
 #startGame:hover{
   color:white;
   background-color: #666;
 }
#startGame:focus{
  outline: none;
}
